<%- include('../../shared/includes/head', { pageTitle: 'All Order(s)' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Order(s)</h1>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>