<%- include('../../shared/includes/head', { pageTitle: 'Failed' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed</h1>
    <p>Please contact the store owner for more details</p>
  </main>
<%- include('../../shared/includes/footer') %>